<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <title>{% block title %}{% endblock title %} | Admin </title>
</head>
<body>
     <style>
          .navbar {
              background-color: #09095fc9; /* Change navbar color here */
          }
          .navbar a {
              color: white;
          }
      </style>

     <nav class="navbar navbar-expand-lg bg-primary ">
          <style>
               *a {
                    color: white;}
          </style>
          <div class="container-fluid  ">
               <a class="navbar-brand" style="color: white;" href="/login/dashboard/">Conference</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="nav-item">
                              <a class="nav-link active" style="color: white;" aria-current="page" href="/login/dashboard/">Home</a>
                         </li>
                         {% comment %} <li class="nav-item">
                              <a class="nav-link active" style="color: white;" aria-current="page" href="#/singup/success/">Users</a>
                         </li> {% endcomment %}
                         <li class="nav-item">
                              <a class="nav-link" style="color: white;" href="/login/dashboard/list-of-conference/">List of
                                   Conference</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" style="color: white;" href="/login/dashboard/create-conference/">Create Conference</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" style="color: white;" href="/login/dashboard/list-of-reviewer/">List of Reviewer's</a>
                         </li>

               </div>
               <div class="d-flex">
                    <button type="submit" class="btn btn-danger"><a style="text-decoration: none;color: aliceblue;"
                              href="/login/logout">Logout</a></button>
               </div>
          </div>
     </nav>
     
     {% block body %}{% endblock body %}
</body>
</html>