{% extends 'login/base.html' %}

{% block title %}List of Conference{% endblock title %}

{% block body %}

{% if conference %}
<div class="container my-4 ">
     <table class="table table-bordered">
          <thead class="thead-dark">
          <tr>
          <th scope="col">S.No</th>
          <th scope="col">Conference Name</th>
          <th scope="col">Conference Description</th>
          <th scope="col">Starting Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Conference Mode</th>
          <th scope="col">Conference Venue</th>
          <th scope="col">View Published Papers</th>
          </tr>
          </thead>
          <tbody>
          {% for conference in conference %}
          <tr>
          <th scope="row">{{conference.id}}</th>
          <td>{{conference.conference_name}}</td>
          <td>{{conference.conference_descriptions}}</td>
          <td>{{conference.conference_start_date}}</td>
          <td>{{conference.conference_end_date}}</td>
          <td>{{conference.conference_mode}}</td>
          <td>{{conference.conference_venue}}</td>
          <td><a style="text-decoration: none;color: aliceblue;" href="{% url 'list-of-paper' conference__id=conference.id %}"><button type="submit" class="btn btn-success">View Papers</button></a></td>
          </tr>
          {% endfor%}
          </tbody>
     </table>
</div>
{% endif %}

{% endblock body %}