{% extends 'login/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<div class="container my-4" style="text-align: center;" >
     <h1 class="text-uppercase" >WelCome Admin {{name}} </h1>
</div>
<div class="container my-4">    
     <table class="table table-bordered">
          <thead>
          <tr>
               <th scope="col">S.No</th>
               <th scope="col">List</th>
               <th scope="col">Create</th>
               <th scope="col">View</th>
          </tr>
          </thead>
          <tbody>
               <tr>
                    <th scope="row">1</th>
                         <td>Conference</td>
                         <td>
                              <a style="text-decoration: none;color: aliceblue;"
                                   href="/login/dashboard/create-conference/"><button type="submit" class="btn btn-success">Create Conference</button></a>
                         </td>
                         <td>
                              <a style="text-decoration: none;color: aliceblue;"
                                   href="/login/dashboard/list-of-conference/"><button type="submit" class="btn btn-success">View Conference</button><a>
                         </td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Reviewer's</td>
                    <td>
                         <a style="text-decoration: none;color: aliceblue;"
                              href="/login/dashboard/list-of-reviewer/"><button type="submit" class="btn btn-success">View Reviewer</button></a>
                    </td>
                    <td>
                         <a style="text-decoration: none;color: aliceblue;"
                              href="/login/dashboard/Assing-paper/"><button type="submit" class="btn btn-success">Assing Paper to Reviewer</button></a>
                    </td>
               </tr>
          </tbody>
     </table>
</div>

{% endblock body %}