{% extends 'login/base.html' %}

{% block title %}List of papers{% endblock title %}

{% block body %}
<div class="container my-4">
    <h2 class="text-center">Submitted Papers</h2>
    {% if paper %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Paper Id</th>
                <th scope="col">Paper Title</th>
                <th scope="col">Paper Version</th>
                <th scope="col">Auth Name</th>
                <th scope="col">Conference Name</th>
                <th scope="col">User Email</th>
                <th scope="col">Paper Description</th>
                <th scope="col">Paper</th>
                <th scope="col">Date Of Submit</th>
                <th scope="col">Comments</th>
                <th scope="col">Modify Status</th>
            </tr>
        </thead>
        <tbody>
            {% for paper in paper %}
            <tr>
                <th scope="row">{{ paper.id }}</th>
                <td>{{ paper.title_paper }}</td>
                <td>v{{ paper.version }}</td>
                <td>{{ paper.Auth_name }}</td>
                <td>{{ paper.conference }}</td>
                <td>{{ paper.user }}</td>
                <td>{{ paper.paper_description }}</td>
                <td><a href="/media/{{ paper.paper_upload }}" class="btn btn-link" download="{{ paper.paper_upload }}">Download Paper</a></td>
                <td>{{ paper.start_date }}</td>

                
                <td>
                    {% for reviewer_id, comment in paper.reviewer_comments.items %}
                        {% if comment %}
                            {% with reviewer=reviewer_data_dict.reviewer_id %}
                                <div class="reviewer-comment my-3 p-3 border">
                                    <p class="mb-0"><strong>Reviewer {{ reviewer.reviewer_name }}:</strong></p>
                                    <p>{{ comment }}</p>
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </td>

                                             
                <td>
                    <form method="post" action="{% url 'update_paper_status' selected_paper_id=paper.id %}">
                        {% csrf_token %}
                        <div class="input-group d-flex justify-content-center">
                            <select class="form-select" name="status" style="width: auto;">
                                {% for choice in paper.STATUS_CHOICES %}
                                <option value="{{ choice.0 }}" {% if choice.0 == paper.status %}selected{% endif %}>
                                    {{ choice.1 }}
                                </option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary my-1" style="border-radius: 10px;" type="submit">Update</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="my-4 text-center text-danger">No Paper Is Published Here Yet</h4>
    {% endif %}
</div>

{% if reupload_paper %}
<div class="container my-4">
    <h2 class="text-center">Resubmitted Papers</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Paper Id</th>
                <th scope="col">Paper Title</th>
                <th scope="col">Paper Version</th>
                <th scope="col">Auth Name</th>
                <th scope="col">Conference Name</th>
                <th scope="col">User Email</th>
                <th scope="col">Paper Description</th>
                <th scope="col">Paper</th>
                <th scope="col">Date Of Submit</th>
                <th scope="col">Comments</th>
                <th scope="col">Modify Status</th>
            </tr>
        </thead>
        <tbody>
            {% for reupload_paper in reupload_paper %}
            <tr>
                <th scope="row">{{ reupload_paper.paper_id }}</th>
                <td>{{ reupload_paper.title_paper }}</td>
                <td>v{{ reupload_paper.version }}</td>
                <td>{{ reupload_paper.Auth_name }}</td>
                <td>{{ reupload_paper.conference }}</td>
                <td>{{ reupload_paper.user }}</td>
                <td>{{ reupload_paper.paper_description }}</td>
                <td><a href="/media/{{ reupload_paper.paper_upload }}">{{ reupload_paper.paper_upload }}</a></td>
                <td>{{ reupload_paper.start_date }}</td>
                <td>
                    {% for reviewer_id, comment in reupload_paper.reviewer_comments.items %}
                        {% if comment %}
                            {% with reviewer=reviewer_data_dict.reviewer_id %}
                                <div class="reviewer-comment my-3 p-3 border">
                                    
                                    <p>{{ comment }}</p>
                                </div>
                            {% endwith %}
                            {% else %}
                            <p class="mb-0"><strong>Comment Is Not Available</strong></p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <form method="post" action="{% url 'resubmit_paper_status' selected_paper_id=reupload_paper.id %}">
                        {% csrf_token %}
                        <div class="input-group d-flex justify-content-center">
                            <select class="form-select" name="status" style="width: auto;">
                                {% for choice in reupload_paper.STATUS_CHOICES %}
                                <option value="{{ choice.0 }}" {% if choice.0 == reupload_paper.status %}selected{% endif %}>
                                    {{ choice.1 }}
                                </option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary my-1" style="border-radius: 10px;" type="submit">Update</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock body %}
