{% extends 'reviewer/base.html' %}
{% block title %}List of Submitted Papers{% endblock title %}
{% block body %}
{% if papers %}

<div class="container my-4">
     <h2 class="text-center">Resubmitted Papers</h2>
     <div class="table-responsive">
         <table class="table table-bordered">
             <thead class="thead-dark">
                 <tr>
                     <th scope="col">Paper Id</th>
                     <th scope="col">Paper Title</th>
                     <th scope="col">Paper Version</th>
                     <th scope="col">Auth Name</th>
                     <th scope="col">Conference Name</th>
                     <th scope="col">User Email</th>
                     <th scope="col">Paper Description</th>
                     <th scope="col">Paper</th>
                     <th scope="col">Date Of Submit</th>
                     <th scope="col">Paper Status</th>
                     <th scope="col">Review Paper</th>
                 </tr>
             </thead>
             <tbody>
                 {% for papers in papers %}
                 <tr>
                     <th scope="row">ABC{{ papers.paper_id|stringformat:"003d" }}</th>
                     <td>{{ papers.title_paper }}</td>
                     <td>v{{ papers.version }}</td>
                     <td>{{ papers.Auth_name }}</td>
                     <td>{{ papers.conference }}</td>
                     <td>{{ papers.user }}</td>
                     <td>{{ papers.paper_description }}</td>
                     <td><a href="/media/{{ papers.paper_upload }}">{{ papers.paper_upload }}</a></td>
                     <td>{{ papers.start_date }}</td>
                     <td style="text-transform: capitalize;" >{{ papers.status }}</td>
                     <td><a style="text-decoration: none;color: aliceblue;" href="{% url 'paper_reviewer_resubmit' paper_id=papers.id %}"><button type="submit" class="btn btn-success">Review Paper</button></a></td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
     </div>
</div>
{% else %}
    <h3 class="my-4" style="text-align: center; color: rgb(4, 19, 90); " >No Paper is Assing. Please wait Until the paper is Assing </h3>
{% endif %}
     

{% endblock body %}