<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>Singup | Reviewer Page</title>
  </head>
  <style>
    nav{
        height: 62px;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        color: black;
    }
    .navbar-logo {
        margin-top: 0px;
        margin-right: 0px;
        width: 59px;
        height: 59px;
        background-image: url("college_logo.png");
        background-size: cover;
        background-position: center;
        margin-right: 4px;
        border-radius: 50%; 
    }
    
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: rgba(9, 9, 95, 0.788);">
        <div class="container-fluid">
            
            <a class="navbar-brand" style="color: white; margin-right: 4rem; font-size: 23px;font-weight: bold; font-family: Arial, Helvetica, sans-serif;" href="/"><div class="navbar-logo"></div>BGI Conference</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="authorDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                            Author
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="authorDropdown">
                            <li><a class="dropdown-item" href="/singup/">Signup</a></li>
                            <li><a class="dropdown-item" href="/singup/singin/">Signin</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="reviewerDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                            Reviewer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="reviewerDropdown">
                            <li><a class="dropdown-item" href="/reviewer/sing-up/">Signup</a></li>
                            <li><a class="dropdown-item" href="/reviewer/sing-in/">Signin</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;" href="/login/">Admin LogIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% comment %} <a class="btn btn-secondary mx-2" href="/">Back</a> {% endcomment %}
    <div class="container mt-5">
      <form
        action="/reviewer/sing-up/"
        class="col-10 mx-auto card p-3 shadow-lg"
        method="post"
        enctype="multipart/form-data"
        oninput='up2.setCustomValidity(up2.value != password.value ? "Passwords do not match." : "")'
      >
        {% csrf_token %} 
        {% if error_message %}
        <p style="color: rgb(216, 65, 65)">{{ error_message }}</p>
        {% endif %}
        {% if success_message %}
        <p style="color: rgb(14, 180, 47)">{{ success_message }}</p>
        {% endif %}
        <h1 style="text-align: center" class="center">Reviewer Sing Up Page</h1>
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Full Name</label>
          <input
            required
            type="name"
            name="full-name"
            class="form-control"
            id="exampleInputName"
            aria-describedby="emailHelp"
          />
          <label for="exampleInputName" class="form-label">Highest Qualifications</label>
          <input
            required
            type="text"
            name="highest-qualification"
            class="form-control"
            id="exampleInputName"
            aria-describedby="emailHelp"
          />
          <label for="exampleInputName" class="form-label">Experience </label>
          <input
            required
            type="text"
            name="experience"
            class="form-control"
            id="exampleInputName"
            aria-describedby="emailHelp"
          />
          <label for="exampleInputName" class="form-label">Designations</label>
          <input
            required
            type="text"
            name="designations"
            class="form-control"
            id="exampleInputName"
            aria-describedby="emailHelp"
          />
          <label for="exampleInputName" class="form-label">Organization</label>
          <input
            required
            type="text"
            name="organization"
            class="form-control"
            id="exampleInputName"
            aria-describedby="emailHelp"
          />
          <label for="exampleInputNumber" class="form-label"
            >Mobile Number</label
          >
          <input
            required
            type="number"
            name="mobile-number"
            class="form-control"
            id="exampleInputNumber"
            aria-describedby="emailHelp"
          />
          <label for="exampleInputNumber" class="form-label"
            >WhatsApp Number</label
          >
          <input
            required
            type="number"
            name="whats-app-number"
            class="form-control"
            id="exampleInputNumber"
            aria-describedby="emailHelp"
          />
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            required
            type="email"
            name="email_reviewer"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
          <div class="form-group">
            <label for="pwd" class="col-form-label">Password:</label>
            <input
              required
              type="password"
              class="form-control"
              id="pwd"
              name="password_reviewer"
            />
          </div>
          <div class="form-group">
            <label for="pwd" class="col-form-label">Confirm Password:</label>
            <input
              type="password"
              required
              class="form-control"
              id="pwd"
              name="up2"
            />
          </div>
          <label class="col-form-label my-2 " for="inputGroupFile02">Upload Profile Photo</label>
          <div class="input-group mb-3 my-2">
               
               <input type="file" name="photo-upload" class="form-control" id="inputGroupFile02">
               
          </div>
          <label class="col-form-label my-2 " for="inputGroupFile02">Upload Resume</label>
          <div class="input-group mb-3 my-2">
               
               <input type="file" name="resume-upload" class="form-control" id="inputGroupFile02">
               
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary my-3">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
