{% extends 'singup/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<center class="my-4" >
  <h1 class="text-uppercase">WellCome {{uname}} </h1>
</center>
{% if conference %}
<div class="container my-4">
     <table class="table table-bordered">
         <thead class="thead-dark">
             <tr>
                 <th scope="col">S.No</th>
                 <th scope="col">Conference Name</th>
                 <th scope="col">Conference Description</th>
                 <th scope="col">Starting Date</th>
                 <th scope="col">End Date</th>
             </tr>
         </thead>
         <tbody>
             {% for conference in conference %}
             <tr>
                 <th scope="row">{{ conference.id }}</th>
                 <td><a class="text-primary" href="{% url 'conference_detail' conf_id=conference.id %}">{{ conference.conference_name }}</a></td>
                 <td>{{ conference.conference_descriptions }}</td>
                 <td>{{ conference.conference_start_date }}</td>
                 <td>{{ conference.conference_end_date }}</td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
 </div>
{% else %}
     <h1 style="text-align: center;color: red;" > No Conference Present Now </h1>
{% endif %}

{% endblock body %}
