{% extends 'singup/base.html' %}
{% block title %}List of Papers{% endblock title %}
{% block body %}

<div class="container">
     {% if papers_uploaded %}
          <div class="container my-4 ">
               <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                    <th scope="col">Paper ID</th>
                    <th scope="col">Paper Title</th>
                    <th scope="col">Auth Name</th>
                    <th scope="col">Paper Description</th>
                    <th scope="col">Paper </th>
                    <th scope="col">Date Of Submit</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for paper in papers_uploaded %}
                    <tr>
                    <th scope="row">{{paper.id}}</th>
                    <td>{{paper.title_paper}}</td>
                    <td>{{paper.Auth_name}}</td>
                    <td>{{paper.paper_description}}</td>
                    <td><a href="/media/{{paper.paper_upload}}  ">{{paper.paper_upload}}</a> </td>
                    <td>{{paper.start_date}}</td>
                    <td>{{paper.expiry_date}}</td>
                    <td>{{paper.status}}</td>
                    </tr>
                    {% endfor%}
                    </tbody>
               </table>
          </div>
     {% endif %}
</div>

{% endblock body %}